.comment-filter {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(3,1fr);
  align-items: center;
  gap: 0.5em;
  border-radius: 5px;
  transition: 0.2s ease-out;


  background-color: $primary-opacity-light;
  padding: 0.5em;
  color: white;

  h3 {
    grid-column: 1 / 2;
    font-size: rem(14px);
    margin: 0;
    color: white;
  }

  & :not(h3) {
    cursor: pointer;
  }

  input:is([type='text']) {
    grid-column: 1/2;
    height: 1.8em;
    border: none;
    border-block-end: 1px solid $gray1;
    border-radius: 5px;
    transition: 0.1s ease-out;
    outline: 2px solid $button-disabled-bg;
    border: none;
    border-radius: 3px;
    transition: 0.2s;
    &:focus{

        outline:  2px solid $primary-dark;
    }
    &:focus {
      // outline: none;
      // background-color: $gray1;
    }
  }

  .calender-button{
    align-self: center;
    justify-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .btn-clear {

    grid-column: 2/3;
    grid-row: 3/4;
    
  }
  
  .sort-container{
    grid-row: 3/4;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .sort-field,
  .sort-dir {
    display: flex;
    align-items: center;
    gap: 1em;

    // margin-inline-start: .4em;

    font-size: 0.8em;
  }

  .sort-dir {
    grid-column: 2 / 3;
  }

  input[type='radio'] {
    display: none;
  }

  label {
    span {
      border-radius: 3px;
      font-size: 0.9em;
      padding: 0.1em 0.3em;
      outline: 1px solid $primary-dark;
      transition: 0.1s ease-out;
      &:hover{
        background-color: $hover-color;
      }
    }

    &:has(:checked) span {
      background-color: $primary-color;
      color: $gray1;
    }
  }
  // calender month
  .css-31ca4x-MuiPickersFadeTransitionGroup-root{
    color: $primary-dark;
  }
  // calender day
  .css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root{
    transition: 0.1s ease-out;
    &:hover{
      background-color: $hover-color;
    }
  }
}
