.list {
    --min-column-size: 220px;

    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    gap: .5em;
    height: calc(100vh - 112px);
    height: 250px;
    overflow: auto;

    li {
        display: grid;
        grid-template-columns: 1fr 80px;
        // display: flex;

        padding: .5em;
        background-color: $primary-dark;
        border-radius: 5px;
        height: 80px;

        color: $gray1;
        a{
            color: white;

        }

        @media (max-width:620px) {
            font-size: 0.8em;
            
            b{
                font-size: 0.7em;
                display: none;
            }
        }
    

        .actions {
            justify-self: end;
            align-self: center;
            button {

                padding: .3em .5em;
                outline: 1px solid black;
                transition: 0.1 ease-out;
                &:hover{
                    background-color: $hover-color;
                    outline: 1px solid white;
                }
                svg{
                    font-size: 0.9em;
                }
            }
        }
    }
}