.main-container {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  height: calc(100vh);
  overflow-y: auto;

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 / -1;
    }
  }

  // @include for-narrow-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $mobile-breakpoint)
  //         minmax(20px, 1fr);
  // }
  // @include for-normal-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $narrow-breakpoint)
  //         minmax(20px, 1fr);
  // }
  // @include for-wide-layout {
  //     grid-template-columns:
  //         minmax(20px, 1fr)
  //         minmax(auto, $normal-breakpoint)
  //         minmax(20px, 1fr);
  // }
}

// .commentd-grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//   grid-gap: 20px;
// }

main{
  justify-self: center;
  width: 580px;
  min-height: calc(100vh - 112px);
  height: max-content;


  // display: grid;
  // grid-template-columns: 1fr 580px 1fr;

  @media (max-width:620px) {
    width: 90vw;
}

  *{
    // grid-column: 2/3;
  }
}